body,
#bg {
    background-color: #030303;
    color: #b50208;
    font-family: 'Lacquer', sans-serif;

}

h1 {
    font-size: 56px;
    margin: 0;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #cf0404, 0 0 30px #cf0404, 0 0 40px #cf0404, 0 0 55px #cf0404, 0 0 75px #ff0080;

}

#player1,
#player2 {
    visibility: hidden;
    background: radial-gradient(#121213, #454747, );
    width: 350px;
    height: 500px;
    font-size: 22px;
    justify-content: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: radial-gradient(#434344, #141414);
    z-index: 1;
}

#card {
    width: 70%;
    justify-self: center;
}

header,
footer {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(#434344, #141414);
    font-weight: bold;
    font-size: 24px;
}

header {
    display: none;
}

#card {
    display: flex;
    margin: auto;
    width: 80%;
}

#player1Name,
#item1,
#race1,
#player2Name,
#item2,
#race2 {
    border-radius: 8px;
}

#stat1,
#stat2 {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.buttons,
#img1,
#img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-self: center;
}

button {
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
    font-family: 'Lacquer', sans-serif;
}

button.hit {
    background: radial-gradient(red, #700f0a);
    border: 1px solid #4f0702;
    width: 70px;
    height: 40px;
    font-size: 26px;
    font-family: 'Lacquer', sans-serif;
}

button.heal {
    background: radial-gradient(#31c908, #208704);
    border: 1px solid #165704;
    width: 60px;
    height: 30px;
    font-size: 17px;
    font-family: 'Lacquer', sans-serif;
}

button.yield,
#play {
    background: radial-gradient(#8d8f91, #2a2a2b);
    border: 1px solid #07304d;
    width: 50px;
    height: 30px;
    font-size: 14px;
    font-family: 'Lacquer', sans-serif;
}

.coinTossbtn {
    border-radius: 50%;
    background-image: url("images/coin1.png");
    background-size: contain;
    border: 1px solid rgb(65, 38, 2);
    width: 100px;
    height: 100px;
    margin:auto;
    justify-self: center;
    font-size: 24px;
    justify-content: center;
    align-content: center;
    /*use if bg needs to be blurred*/
    
}
#coinTossbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    z-index: 100;
}

.disabledHit {
    background: #E0E0E0;
    border: 1px solid #E0E0E0;
    width: 70px;
    height: 40px;
    font-size: 26px;
    font-family: 'Lacquer', sans-serif;
}

.disabledHeal {
    background: #E0E0E0;
    border: 1px solid #E0E0E0;
    width: 60px;
    height: 30px;
    font-size: 17px;
    font-family: 'Lacquer', sans-serif;
}

.disabledYield {
    background: #E0E0E0;
    border: 1px solid #E0E0E0;
    width: 50px;
    height: 30px;
    font-size: 14px;
    font-family: 'Lacquer', sans-serif;
}

.log {
    background-color: #141414;
    border: 1px solid white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px; 
    overflow: auto;
}

#arena {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.health {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

h4 {
    margin: 0;
    margin-bottom: 8px;
    color: linen;
}

#progress1,
#progress2 {
    width: 71%;
    height: 30px;
    background-color: grey;
    justify-content: flex-start;
    border-radius: 8px;
    /*transform: rotate(-90deg);*/
}

#bar1,
#bar2 {
    width: 100%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    /* To center it horizontally (if you want) */
    line-height: 30px;
    /* To center it vertically */
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
}

#play {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-self: center;
    font-size: 42px;
}

#pic1,
#pic2 {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

#item1pic {
    width: 60px;
    height: 60px;
    margin: 0;
}

#item2pic {
    width: 60px;
    height: 60px;
    margin: 0;
}

#createbtn {
    border-radius: 50%;
    background: radial-gradient(#31c908, #208704);
    border: 1px solid #421e01;
    width: 100px;
    height: 100px;
    justify-self: center;
    font-size: 26px;
}

legend {
    color: #c5c9c9;
}
